/* .content-box */
* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #171100;
  --background-color: #fffcf4;
  --White-color: #fff;
}

/* Đổi đơn vị px sang rem */

html {
  font-size: 62.5%;
}

body {
  /* 1.6rem = 16px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/* Common CSS */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header section */

.header {
  background: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}

.header .main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* short hand: magin: 0 auto */
  max-width: calc(100% - 24px);
}

.header .body {
  display: flex;
  /* Căm giữa theo trục dọc */
  align-items: center;
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-weight: 600;
  /* Tức là 16px */
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}
/* Pseudo class: lớp giả */
.header nav a:hover {
  color: var(--primary-text-color);
  text-shadow: 1px 0 0 currentColor;
}
.header nav a.active {
  font-weight: 600;
  /* semo-bold */
  color: var(--primary-text-color);
  position: relative;
}
/* Pseudo element */
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}
.header .body .btn-sign-up {
  width: 144px;
  /* height: 50px; */
  line-height: 50px;
  background: var(--primary-text-color);
  color: var(--White-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
  margin-left: 49px;
}
